extend ../layout

block headData
  link(href='//fonts.googleapis.com/css?family=Squada+One', rel='stylesheet', type='text/css')

block content
    .span4
      .rectangle
        .influenceheading #{firstname}'s Profile 
      .triangle-l
      .profilebox 
        .row 
           .picturespan
             img.picture(src='#{photoref}', height='110%', width='110%')
           .profiletextspan
             .nameheading #{firstname} #{lastname} 
             p.profiletext #{position} at #{company} 
             p.profiletext #{geoloc}
        .row
           .span2
             heading.p.kudos Kudos Score:
             p.ratingtext #{rating}
             .kudostotal out of 100
           .strengthspan
             heading Top Strengths:
             img(src='#{strength1}', height='25px', class='strength') 
             img(src='#{strength2}', height='25px', class='strength')
             img(src='#{strength3}', height='25px', class='strength') 
      .rectangle
        .influenceheading Cast Reach
      .triangle-l
      .influencebox 
        .row
          .mapspan
            img(src='/img/map.png', height=100px', class='map')
          .profiletextspanreach
            p.profiletextreach Top Companies:
            p.profiletextreach 1. Microsoft
            p.profiletextreach 2.Amazon
            p.profiletextreach 3. YMCA

    .span5.offset1
      .row
        a(href='').kudo_compose
          img(src='/img/cast_a_kudo.png', class='cast') 
      .row 
        .rectanglekudo
          .kudoheading KudoCast
        .triangle-lkudo
        .triangle-r
        .kudobox
          .row
            .kudopicturespan
              img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
            .shoutoutspan
              .shoutout #{kudo_text}
          .row
            .creator #{name_0} 
            .date Sent #{time_sent}
           
          .row 
            .kudopicturespan
              img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
            .shoutoutspan 
              .shoutout #{kudo_text}
          .row
            .creator #{name_1}
            .date Sent #{time_sent2}
          .row  
            .kudopicturespan 
              img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
            .shoutoutspan
              .shoutout #{kudo_text}
          .row
            .creator #{name_2}
            .date Sent #{time_sent3}
            
     a.kudo_compose
