extend ../layout

block headData
  link(href='//fonts.googleapis.com/css?family=Squada+One', rel='stylesheet', type='text/css')

block content
    .span4
      .rectangle
        .influenceheading Basic Information
      .triangle-l
      .profilebox   
        .row 
           .picturespan
             img.picture(src='#{photoref}', height='110%', width='110%')
           .profiletextspan
             .nameheading #{firstname} #{lastname} 
             p.profiletext #{position} at #{company} 
             p.profiletext #{geoloc}
        .row
           .span2
             heading.p.kudos Kudos Score:
             p.ratingtext #{rating}
           .strengthspan
             heading Top Strengths:
             p.profiletext 1. #{strength1}
             p.profiletext 2. #{strength2}
             p.profiletext 3. #{strength3} 
      .rectangle
        .influenceheading Influence Reach
      .triangle-l
      .influencebox     
      .rectangle
        .influenceheading Gifts Funded
      .triangle-l
      .influencebox 
    .span5.row 
      .rectanglekudo
        .kudoheading KudoCast
      .triangle-lkudo
      .triangle-r
      .kudobox
        hr 
        .row
          img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          span.shoutout #{kudo_text}
        .row
          img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          span.shoutout #{kudo_text}
        .row 
          img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          span.shoutout #{kudo_text}
        .row
          img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          span.shoutout #{kudo_text}
          
    button.compose_kudo Compose a Kudo
