extend ../layout


block content
  .row  
    .well.span5 
      .row 
        .span2
          img.picture(src='#{photoref}', height='100%', width='100%')
         .span2
           p.profiletext #{firstname} #{lastname} 
           p.profiletext #{company} 
           p.profiletext #{geoloc}
           p.profiletext #{rating} Kudos! 
    
    .well.span5.offset.5 b
     
      
