extend ../layout

block headData
  link(href='http://fonts.googleapis.com/css?family=Squada+One', rel='stylesheet', type='text/css')

block content
    .span4
      .profilebox   
        .row 
           .picturespan
             img.picture(src='#{photoref}', height='110%', width='110%')
           .profiletextspan
             .nameheading #{firstname} #{lastname} 
             p.profiletext #{position} at #{company} 
             p.profiletext #{geoloc}
        .row
           .span2
             heading.p.kudos Kudos Score:
             p.ratingtext #{rating}
           .strengthspan
             heading Top Strengths:
             p.profiletext 1. #{strength1}
             p.profiletext 2. #{strength2}
             p.profiletext 3. #{strength3} 
      .influencebox.influenceheading Influence Reach    
      .influencebox.influenceheading Gifts Funded 
    .span7.row 
      .influencebox.influenceheading Send a Kudo
      .influencebox.influenceheading Kudocast
      
