extend ../layout

block headData
  link(href='//fonts.googleapis.com/css?family=Squada+One', rel='stylesheet', type='text/css')

block content
    .span4
      .rectangle
        .influenceheading Your Profile 
      .triangle-l
      .profilebox 
        .row 
           .picturespan
             img.picture(src='#{photoref}', height='110%', width='110%')
           .profiletextspan
             .nameheading #{firstname} #{lastname} 
             p.profiletext #{position} at #{company} 
             p.profiletext #{geoloc}
        .row
           .span2
             heading.p.kudos Kudos Score:
             p.ratingtext #{rating}
             .kudostotal out of 100
           .strengthspan
             heading Top Strengths:
             p.profiletext 1. #{strength1}
             p.profiletext 2. #{strength2}
             p.profiletext 3. #{strength3} 
      .rectangle
        .influenceheading Influence Reach
      .triangle-l
      .influencebox     
      .rectangle
        .influenceheading Gifts Funded
      .triangle-l
      .influencebox 
    .span5.row 
      .rectanglekudo
        .kudoheading KudoCast
      .triangle-lkudo
      .triangle-r
      .kudobox
        .row
          .kudopicturespan
            img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          .shoutoutspan
            .shoutout #{kudo_text}
        .row
          .creator #{name_0} 
          .date Sent #{time_sent}
           
        .row 
          .kudopicturespan
            img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          .shoutoutspan 
            .shoutout #{kudo_text}
        .row
          .creator #{name_1}
          .date Sent #{time_sent2}
        .row  
          .kudopicturespan 
            img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          .shoutoutspan
            .shoutout #{kudo_text}
        .row
          .shoutout-name #{name_2}
          .shoutout-date Sent #{time_sent3}
        .row  
          .kudopicturespan 
            img.picture(src='#{photoref_1}', height='60px', width='60px', class='recommender_picture')
          .shoutoutspan
            .shoutout #{kudo_text}
            
    button.kudo_compose Compose a Kudo